In [4]:
#Question 1
s=input("Enter string: ")
words=s.split()
unique_words=set(words)
print("Unique words:", unique_words)
print("Unique words count:", len(unique_words))

Enter string: python is easy and python is powerful
Unique words: {'is', 'python', 'easy', 'and', 'powerful'}
Unique words count: 5

In [8]:
#Question 2

n=int(input("Enter number of employees: "))
info={}
#Dynamic Input
for i in range(n):
      name=input("Enter name: ")
      salary=int(input("Enter Salary: "))
      info[name]=salary

max_salary=next(iter(info.values())) #set first salary as maximum salary
employee_name=next(iter(info.keys())) #record his name

for i in info:
      if info[i]>max_salary:
            max_salary=info[i]
            employee_name=i

print("Employee with highest salary: ",employee_name)
print(f"Salary of {employee_name} is ",max_salary)

Enter number of employees: 3
Enter name: Ravi
Enter Salary: 75000
Enter name: Anita
Enter Salary: 68000
Enter name: Kiran
Enter Salary: 72000
Employee with highest salary:  Ravi
Salary of Ravi is  75000

In [12]:
#Question 3

n=int(input("Enter number of element: "))
nums=[]
max_num=float('-inf')
min_num=float('inf')
for i in range(n):
      number=int(input("Enter Number: "))
      nums.append(number)

      if number>max_num:
            max_num=number
      if number<min_num:
            min_num=number

print("List: ",nums)
print("Maximum Number: ",max_num)
print("Minimum Number: ",min_num)

Enter number of element: 5
Enter Number: 45
Enter Number: 22
Enter Number: 89
Enter Number: 10
Enter Number: 66
List:  [45, 22, 89, 10, 66]
Maximum Number:  89
Minimum Number:  10

In [15]:
#Question 4

n=int(input("Enter number of element: "))
count=0
for i in range(n):
  number=int(input(f"Enter Price of element {i+1} :"))
  if number>1000:
    count+=1
print("Products above 1000: ",count)

Enter number of element: 5
Enter Price of element 1 :450
Enter Price of element 2 :1200
Enter Price of element 3 :899
Enter Price of element 4 :1500
Enter Price of element 5 :300
Products above 1000:  2

In [16]:
#Question 5

attendance = ["P", "P", "A", "P", "P"]
n=len(attendance)
present=0
for i in attendance:
  if i=="P":
    present+=1

print("Attendance Percentage: ",(present/n)*100)

Attendance Percentage:  80.0

In [17]:
#Question 6

phone_numbers = [9876543210, 9123456789, 9876543210]

u_ph_num=set(phone_numbers)
print("Unique Phone Numbers: ",u_ph_num)

Unique Phone Numbers:  {9876543210, 9123456789}

In [23]:
#question 7

s=input("Enter string").lower()
info={}
for i in s:
  if i in info:
    info[i]=info[i]+1
  elif i.isalpha():
    info[i]=1

print(info)

Enter stringpython
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [26]:
#Question 8

nums=[10,20,30]
tuple_nums=tuple(nums)

print(tuple_nums)
print("Type: ",type(tuple_nums))

(10, 20, 30)
Type:  <class 'tuple'>

In [28]:
#Question 9

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

target=input("Enter Employee search: ").lower()

for i in employees:
    if i.lower()==target:
        print("Employee Found")
        break
else:
    print("Employee Not Found")

Enter Employee search: ravi
Employee Found

In [32]:
#Question 10
marks = []

n=int(input("Enter number of subjects: "))

for i in range(n):
    mark=int(input(f"Enter Marks of Subject {i+1}: "))
    marks.append(mark)

average=sum(marks)/len(marks)

print("Average Marks:", average)

Enter number of subjects: 5
Enter Marks of Subject 1: 70
Enter Marks of Subject 2: 75
Enter Marks of Subject 3: 80
Enter Marks of Subject 4: 85
Enter Marks of Subject 5: 90
Average Marks: 80.0