In [6]:
#Question 1
info = {
"Ravi": 92,
"Anita": 88,
"Kiran": 92,
"Suresh": 85
}

result=[]

max_score=next(iter(info.values())) #set first score as maximum salary
employee_name=next(iter(info.keys())) #record his name

for i in info:
      if info[i]>max_score:
            max_score=info[i]
for i in info:
  if info[i]==max_score:
    result.append(i)


print(f"Top Performers Eligible for Bonus: {result} (Score {max_score})")

Top Performers Eligible for Bonus: ['Ravi', 'Kiran'] (Score 92)

In [26]:
#Question 2
s=input("Enter the string: ").lower()
result=[]
word=""
for i in s:
  if i.isalnum():
    word+=i
  if i==" ":
    result.append(word)
    word=""
if word!="":
  result.append(word)

freq={}
for i in result:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
final = {}
for key in freq:
    if freq[key] > 1:
        final[key] = freq[key]

print(final)

Enter the string: "Buy mobile phone buy phone online"
{'buy': 2, 'phone': 2}

In [25]:
#Question 3
sensor_readings = [3, 4, 7, 8, 10, 12, 5]
result=[]
for i in range(len(sensor_readings)):
  if sensor_readings[i]%2==0:
    result.append((i,sensor_readings[i]))
print(result)

[(1, 4), (3, 8), (4, 10), (5, 12)]

In [28]:
#Question 4

emails = [
"ravi@gmail.com",
"anita@yahoo.com",
"kiran@gmail.com",
"suresh@gmail.com",
"meena@yahoo.com"
]

gmail=0
yahoo=0
n=len(emails)
for i in emails:
  if i[-9:]=="gmail.com":
    gmail+=1
  elif i[-9:]=="yahoo.com":
    yahoo+=1
print("Gmail: ", (gmail/n)*100)
print("Yahoo: ", (yahoo/n)*100)

Gmail:  60.0
Yahoo:  40.0

In [33]:
#Question 5

sales = [1200, 1500, 900, 2200, 1400, 3000]
total=0
for i in range(len(sales)):
  if sales[i]:
    total+=sales[i]
avg=total/len(sales)
result=[]
for i in range(len(sales)):
  if sales[i]>1.3*avg:
    result.append((f"Day {i+1}",sales[i]))
print(result)
#the expected output given in the problem is false and only day 6 qualifies with the condition

[('Day 6', 3000)]

In [36]:
#Question 6

user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]
freq={}
for i in user_ids:
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1
for i in freq:
  if freq[i]>1:
    print(i,":",freq[i])

user1 : 3
user3 : 2